*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            -box-sizing: border-box;

}

/*
*=====================================
*Stylesheet login page
*=====================================
*/

div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;
    background-image: url(../assets/images/loginBackground.jpg);
    background-size: cover; 
}

section#conteudo-view{
    position: absolute;
    right: 0;
    padding: 20px;
    float: right;
    width: 300px;
    height: 100%;
    background: #51dca6;
}

section#conteudo-view h1{
    float: left;
    width: 100%;
    font: 3em 'Fredoka One',cursive;
    margin-top: 50px;
    color: #f3f3f3
    
}

section#conteudo-view h3{
    float: left;
    width: 100%;
    font: .8em 'Fredoka One',cursive;
    color: #f3f3f3;
}

section#conteudo-view form{
    float: left;
    width: 100%;
    margin-top: 40px;
}

section#conteudo-view form p{
    float: left;
    width: 100%;
    font: .8em 'Fredoka One',cursive;
    color: #f3f3f3;
    font-size: 1.25em;
}

section#conteudo-view form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;

}

section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
    float: left;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid #52ca9b;
    color: #959595;
    font: 1em 'Arial',cursive;

}

section#conteudo-view form input[type="submit"]{
    background: #00ff9c;
    text-align: center;
    width: 60%;
    float: right;
    font: 1em 'Fredoka One',cursive;
    color: #f9f9f9;

}
body{
    background: #f7f7f7;
}


/*
*=====================================
*Stylesheet menu lateral
*=====================================
*/

#principal{
    position: fixed;
    float: left;
    width: 220px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

#principal ul,
#principal ul li{
    float: left;
    width: 100%;
}

#principal ul li a{
    float: left;
    width: 100%;
    height: 80px;
    color: #9c9c9c;
    border-bottom: 0 0 15px rgba(0, 0, 0, .15);


}

#principal ul li a i{
    float: left;
    width: 80px;
    height: 80px;
   color: inherit;
   text-align: center;
   line-height: 80px;
   font-size: 2em;
}

#principal ul li a h3{
    float: left;
    height: 80px;
    font: 1.25em/80px 'Fredoka One',cursive;
    color: inherit;
}

#principal ul li a:hover{
    color: #00ff9c;
}
